<div class="list-group-item d-flex align-items-center justify-content-between" id="{{id}}">
	<div>{{name}}</div>
	<button class="btn btn-warning btn-sm align-self-end {{#if eat}}btn-eat{{else}}btn-remove{{/if}}">
		{{#if eat}}&nbsp;&nbsp;Eat&nbsp;&nbsp;{{else}}&nbsp;&nbsp;Digest&nbsp;&nbsp;{{/if}}
	</button>
</div>
